<div class="container">

  <h3 class= "d-flex justify-content-center"> Assignment </h3>
  <h4 class= "d-flex justify-content-center"> Movie and Actors List </h4>

  <nav class= "navbar navbar-expand-sm bg-light navbar-dark">
  
    <ul class="navbar-nav">
      <li class= "nav-item">
        <button routerLink="movie" class= "m-1 btn btn-light btn-outline-primary" Button>Movie</button>
      </li>

      <li class= "nav-item">
        <button routerLink="actor" class= "m-1 btn btn-light btn-outline-primary" Button>Actor</button>
      </li>

      
      <li class= "nav-item">
        <button routerLink="sortbytitle" class= "m-1 btn btn-light btn-outline-primary" Button>sortbytitle</button>
      </li>

      <li class= "nav-item">
        <button routerLink="sortbyreleasedate" class= "m-1 btn btn-light btn-outline-primary" Button>sortbyreleasedate</button>
      </li>

      <li class= "nav-item">
        <button routerLink="relation" class= "m-1 btn btn-light btn-outline-primary" Button>relation</button>
      </li>


    </ul>
  
  
  </nav>

  













<router-outlet></router-outlet>

  
</div>
